#animBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 50;
  background: #fff;
}

#content {
  opacity: 0;
  transition: opacity 1s ease;
  position: relative;
  z-index: 10;
}

#content.show {
  opacity: 1;
}